{% extends 'client_header_footer.html' %}
{% load static %}
{% block content %}


<header class="header-page">
<div class="header-page-shape header-page-shape-bottom">
<img src="{% static 'client_assets/images/shapes/shape-3.png' %}" alt="shape">
</div>
<div class="container">
<div class="header-page-content">
<h1>Login/Registration</h1>
<nav aria-label="breadcrumb">

</nav>
</div>
</div>
</header>







<div class="authentication-section pt-100 pb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-6 col-md-6 pb-6">
<div class="authentication-item">
<h3>Register</h3>
<div class="authentication-form">
<form method="POST" action="/client/client_ins_registration/" enctype="multipart/form-data" data-parsley-validate="" >
    {% csrf_token %}
<div class="form-group mb-20">
<div class="input-group">
<input type="text" name="expert_name" class="form-control" required placeholder="Name*"
                data-parsley-required="true" data-parsley-required-message="Please Enter Name">
</div>
</div>
<div class="form-group mb-20">
<div class="input-group">
<input type="email" name="expert_email" class="form-control" required placeholder="Email*"
            data-parsley-required="true" data-parsley-required-message="Please Enter Email">
</div>
</div>
<div class="form-group mb-20">
<div class="input-group">
<input type="text" name="expert_contact" class="form-control" required placeholder="Contact*"
                data-parsley-required="true" data-parsley-required-message="Please Enter Contact" minlength="10" maxlength="10">
</div>
</div>

<div class="form-group mb-20">
<div class="input-group">
<input type="file" name="expert_image" class="form-control" required placeholder="Image*" onchange="loadFile(event)"
                data-parsley-required="true" data-parsley-required-message="Please Select Image">
</div>
</div>


    <div class="form-group mb-20">
<div class="input-group">
<input type="password" name="expert_password" class="form-control" required placeholder="Password*"
            data-parsley-required="true" data-parsley-required-message="Please Enter Password">
</div>
</div>
      <span style="color:gray"> At least 8 characters
at least 1 numeric character , 1 lowercase letter , 1 uppercase letter , 1 special character </span>
   <br/>

    <div class="form-group mb-20">
<div class="input-group">
<input type="text" name="expert_qualification" class="form-control" required placeholder="Qualification*"
            data-parsley-required="true" data-parsley-required-message="Please Enter Qualification">
</div>
</div>


 <div class="form-group mb-20">
<div class="input-group">
<input type="text" name="expert_experience" class="form-control" required placeholder="Experience*"
            data-parsley-required="true" data-parsley-required-message="Please Enter Experience">
</div>
</div>




<button class="btn main-btn full-width mb-20" type="submit">REGISTER NOW</button>
<div class="authentication-account-access">
 <div class="authentication-account-access-item">
<div class="input-checkbox">
<input type="checkbox" id="check2">

</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-6 col-md-6 pb-6">
<div class="authentication-item">
<h3>Login</h3>
<div class="authentication-form">
<form ation="/client/client_ins_login/" method="POST" data-parsley-validate="">
    {% csrf_token %}
<div class="form-group mb-20">
<div class="input-group">
<input type="text"  value="{{expert_email_cookie1}}" name="client_user" class="form-control" placeholder="Username/Email Address*"
            data-parsley-required="true" data-parsley-required-message="Please Enter Email">
</div>
</div>
<div class="form-group mb-20">
<div class="input-group">
<input type="password" value="{{expert_password_cookie2}}" name="client_password" class="form-control" required placeholder="Password*"
                data-parsley-required="true" data-parsley-required-message="Please Enter Password">
</div>
</div>
<div class="authentication-account-access mb-20">
<div class="authentication-account-access-item">
<div class="input-checkbox">
<input type="checkbox" name="remember" id="remember-me">
<label for="remember-me">Remember Me!</label>
</div>
</div>
<div class="authentication-account-access-item">
<div class="authentication-link">
<a href="/client/client_ins_forgotpass/">Forget password?</a>
</div>
</div>
</div>
<button class="btn main-btn full-width">LOG IN</button>
    <span style="color:red">
                      {% for data in messages %}
                          {{ data }}
                      {% endfor %}
                  </span>
</form>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</body>


<!-- Mirrored from templates.hibootstrap.com/jexi/default/authentication.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 02:51:06 GMT -->
</html>
{% endblock %}