{% extends 'expert_header_footer.html' %}
{% load static %}
{% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="section-header-breadcrumb-content">
									<h1>Query Table</h1>
                  <div class="section-header-breadcrumb">

                  </div>
								</div>
							</div>
						</div>
					</div>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Query Table</h4>
                  </div>


                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>

                            <th>QUERY_DESCRIPTION</th>
                            <th>STUDENT NAME</th>
                            <th>EXPERT NAME</th>
                            <th>QUERY RESPONSE</th>
                            <th>COURSE NAME</th>
                            <th>QUERY DATE</th>
<!--                            <th>SOLVE DATE</th>-->
                            <th>ACTION</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for que in query %}
                          <tr>

                            <td>{{que.query_description}}</td>
                            <td>{{que.student_id.student_name}}</td>
                            <td>{{que.expert_id.expert_name}}</td>
                            <td>{{que.query_response}}</td>
                            <td>{{que.course_id.course_name}}</td>
                            <td>{{que.query_date}}</td>
<!--                            <td>{{que.solve_date}}</td>-->
                            <td><a href="/expert/exp_response/{{que.query_id}}"><button>Give response</button></a></td>
                          </tr>

                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      </div>

 {% endblock %}