{% load static %}
{% for cou_book in course_booking %}
                          <tr>
                            <td>{{cou_book.student_id.student_name}}</td>
                            <td>{{cou_book.course_id.course_name}}</td>
                            <td>{{cou_book.booking_date}}</td>


                            {% if cou_book.booking_status == 0 %}



                            {% elif cou_book.booking_status == 1 %}
                                  <td>accept</td>
                              {% else %}
                                  <td>Reject</td>
                            {% endif %}

                            <td>{{cou_book.amount}}</td>
                            <td>{% if cou_book.payment_status == 0 %}

                                  Incomplete
                                {% else %}
                                  Complete
                                {% endif %}
                            </td>
                            <td>{{cou_book.status}}</td>

                          </tr>







                            {% endfor %}